<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link href="https://vjs.zencdn.net/7.14.3/video-js.css" rel="stylesheet" />
  <link rel="stylesheet" href="../static/css/typo.css" th:href="@{/css/typo.css}">
  <link rel="stylesheet" href="../static/css/prism.css" th:href="@{/css/prism.css}">
  <link rel="stylesheet" href="../static/css/mycss.css" th:href="@{/css/mycss.css}">
  <title>博客详情</title>
</head>
<body>
<nav class="ui segment inverted vertical m-padding-vertical-tiny m-opacity-big">
  <div class="ui menu inverted borderless stackable">
    <div class="m-mobile-show item">
      <a href="#" class="ui mobileDropdown dropdown button icon black"><i class="sidebar icon"></i></a>
    </div>
    <div class="item m-mobile-hide">
      <a href="https://github.com/ZilinCui" target="_blank"><i class="ui icon big github"></i></a>
    </div>
    <div class="item m-mobile-hide">
      <form th:action="@{/search}" method="get">
        <div class="ui icon transparent input">
          <input type="text" name="title" placeholder="Search..." class="m-text-heavy m-white">
          <i class="search link icon inverted" onclick="document.forms[0].submit()"></i>
        </div>
      </form>
    </div>
    <a href="#" th:href="@{/}"class="item m-mobile-hide m-item"><i class="icon archive"></i>博客</a>
    <a href="#" th:href="@{/types(id = -1)}" class="item m-mobile-hide m-item"><i class="icon idea"></i>分类</a>
    <a href="#" th:href="@{/about}"class="item m-mobile-hide m-item"><i class="icon eye"></i>关于我</a>
    <div class="ui menu right inverted borderless m-mobile-hide">
      <div class="item">
        <span class="m-white m-text-heavy" style="font-size: 20px;font-family: 华文行楷" >今天, 你编程了吗?</span>
      </div>
      <div class="item" th:if="${session?.get('user')}">
        <a href="#"><i class="icon large inverted bell outline"></i></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span >
                  <div class="ui inline dropdown">
                    <div class="text">
                      <img class="ui avatar image" src="https://unsplash.it/100/100?image=100">
                      <span th:text="${session.get('user').nickname}"></span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                      <a href="#" class="item" th:href="@{/logout}">注销</a>
                    </div>
                  </div>
                </span>
      </div>
      <div class="item" th:unless="${session?.get('user')}">
        <a href="#" th:href="@{/login}" class="m-text-heavy m-white">点击登录</a>
      </div>
    </div>
    <!--手机端需要适应-->
    <div class="ui menu right inverted borderless m-mobile-show" style="position: absolute; right: 0; top: 0">
      <div class="item" th:if="${session?.get('user')}">
        <a href="#"><i class="icon large inverted bell outline"></i></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span >
                  <div class="ui inline dropdown">
                    <div class="text">
                      <img class="ui avatar image" src="https://unsplash.it/100/100?image=100">
                      <span th:text="${session.get('user').nickname}"></span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                      <a href="#" class="item" th:href="@{/logout}">注销</a>
                    </div>
                  </div>
                </span>
      </div>
      <div class="item" th:unless="${session?.get('user')}" style="position: relative; top: 0.4em">
        <a href="#" th:href="@{/login}" class="m-text-heavy m-white">点击登录</a>
      </div>
    </div>
  </div>

</nav>
<!--中间内容-->
<div class="ui container m-opacity box-shadow-max m-margin-vertical-medium">
  <!--博客头-->
  <div class="ui top attached segment">
    <div class="ui horizontal link list">
      <div class="item">
        <img src="https://unsplash.it/800/515?image=1005" alt="" class="ui avatar image">
        <div class="content"><a href="#" class="header" th:text="${blog.user.nickname}" >Xiong_sh</a></div>
      </div>
      <input type="hidden" name="id" th:value="${blog.id}">
      <div class="item">
        <i class="calendar icon"></i>
        <span th:text="${blog.updateTime}">2019-10-01</span>
      </div>
      <div class="item">
        <i class="eye icon"></i> <span th:text="${blog.views}">2342</span>
      </div>
    </div>
  </div>

  <!--图片-->
  <div class="ui attached segment m-padding-none">
    <div class="container m-padding-tiny">
      <img class="ui rounded image fluid" th:src="@{${blog.photo}}" src="https://unsplash.it/1200/600?image=212" alt="">
    </div>
  </div>
  <!--内容-->
  <div class="ui attached padded segment">
    <!--中间主要内容部分-->
    <h1 class="ui center aligned header m-margin-top-small" th:text="${blog.title}">标题</h1>
    <div class="typo typo-selection m-padding-horizon-large m-padding-vertical-medium" th:utext="${blog.content}" ></div>

    <div class="ui horizontal divider">end</div>


    <!--赞赏-->
    <div >
      <div class="ui center aligned basic segment">
        <button id="likeBtn" class="ui orange basic circular button">点赞 <span class="like span" th:text="${blog.appreciations}"></span></button>
      </div>
    </div>

    <div class="ui orange message hidden"></div>


  </div>
  <div id="goto" class="ui attached positive message">
    <!--博客信息-->
    <div class="ui middle aligned stackable grid">
      <div class="nine wide column">
        <ui class="list">
          <li>作者：<span th:text="${blog.user.nickname}">ONESTAR</span><a href="#" target="_blank">（联系作者）</a></li>
          <li>更新时间：<span th:text="${blog.updateTime}">2020-01-02 09:08</span></li>
          <li>版权声明：自由转载-非商用-非衍生-保持署名（创意共享3.0许可证）</li>
          <li>转载声明：如果是转载栈主转载的文章，请附上原文链接</li>
          <li class="m-mobile-hide">添加作者好友：请在文末添加作者微信二维码（微信二维码见右边，欢迎关注）</li>
        </ui>
      </div>
      <!--微信公众号-->
      <div class="seven wide column m-mobile-hide">
        <img src="../static/images/contact.jpg"  th:src="@{/images/contact.jpg}" alt="" class="ui right floated rounded bordered image m-mobile-hide" style="width: 161px">
      </div>
    </div>
  </div>
  <div class="ui bottom attached segment">
    <!--评论区域列表-->
    <div id="comment-container" class="ui teal segment">
      <div th:fragment="commentList">
        <div class="ui threaded comments" style="max-width: 100%;">
          <h3 class="ui dividing header">评论</h3>
          <h3 class="ui header" th:if="${#lists.isEmpty(commentList)}">暂无评论哦</h3>
          <div class="comment" th:each="comment : ${commentList}">
            <a class="avatar">
              <img src="https://unsplash.it/100/100?image=1005" class="ui avatar rounded image">
            </a>
            <div class="content" >
              <a class="author" >
                <span th:text="|游客${comment.nickname}|">Matt</span>
                <div class="ui mini basic teal left pointing label m-padded-mini">楼主</div>
              </a>
              <div class="metadata">
                <span class="date" th:text="${comment.updateTime}">Today at 5:42PM</span>
              </div>
              <div class="text" th:text="${comment.content}">
                How artistic!
              </div>
              <div class="actions">
                <a class="reply" data-commentid="1" data-commentnickname="Matt" th:attr="data-commentid=${comment.id},data-commentnickname=${comment.nickname}" onclick="replyComment(this)">回复</a>
              </div>
            </div>
            <!--子集评论-->
            <div class="comments" th:if="${#arrays.length(comment.replyList)}>0">

              <div class="comment" th:each="reply : ${comment.replyList}">
                <a class="avatar">
                  <img src="https://unsplash.it/100/100?image=1005">
                </a>
                <div class="content">
                  <a class="author" >
                    <span th:text="|游客${reply.nickname}|">小红</span>&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="|回复 ${reply.parentNickname}|" class="m-teal">@ 小白</span>
                  </a>
                  <div class="metadata">
                    <span class="date" th:text="${reply.updateTime}">Today at 5:42PM</span>
                  </div>
                  <div class="text" th:text="${reply.content}">
                    How artistic!
                  </div>
                  <div class="actions">
                    <a class="reply" data-commentid="1" data-commentnickname="Matt" th:attr="data-commentid=${reply.id},data-commentnickname=${reply.nickname}" onclick="replyComment(this)">回复</a>
                  </div>
                </div>
                <div class="ui small divider"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="comment-form" class="ui form">
      <input type="hidden" name="user" th:value="${session.get('user')}">
      <input type="hidden" name="blogId" th:value="${blog.id}">
      <input type="hidden" name="parentId" value="-1">
      <div class="field">
        <textarea name="content" placeholder="请输入评论信息..."></textarea>
      </div>
      <div class="fields">
        <div class="field m-mobile-wide m-margin-bottom-small">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="nickname" placeholder="昵称">
          </div>
        </div>
        <div class="field  m-margin-bottom-small m-mobile-wide">
          <button id="commentpost-btn" type="button" class="ui teal button m-mobile-wide"><i class="edit icon"></i>发布</button>
        </div>
      </div>
      <div class="ui error message"></div>
    </div>
  </div>
</div>
<br><br>
<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" style="position: relative; left: 86em" width=330 height=86 src="//music.163.com/outchain/player?type=2&id=31010566&auto=0&height=66"></iframe>
<footer th:replace="_fragments :: footer" class="ui inverted bottom vertical segment">
  <div class="ui container">
    <div class="ui stackable centered aligned grid">
      <div class="ui three wide column m-padding-vertical-tiny"><img th:src="@{/images/3.png}"src="../static/images/3.png" class="ui rounded centered aligned image" alt="" width="100px"></div>
      <div class="ui four wide column">
        <h4 class="ui black center aligned  teal header">最新博客</h4>
        <div class="ui link list">
          <a href="#" class="item"><h5 class="ui center grey aligned header">最新博客</h5></a>
          <a href="#" class="item"><h5 class="ui center grey aligned header">最新博客</h5></a>
          <a href="#" class="item"><h5 class="ui center grey aligned header">最新博客</h5></a>
        </div>
      </div>

      <div class="ui four wide column">
        <h4 class="ui black center aligned teal header">最新博客</h4>
        <div class="ui link list">
          <a href="#" class="item"><h5 class="ui center grey aligned header">最新博客</h5></a>
          <a href="#" class="item"><h5 class="ui center grey aligned header">最新博客</h5></a>
          <a href="#" class="item"><h5 class="ui center grey aligned header">最新博客</h5></a>
        </div>
      </div>
      <div class="ui five wide column">
        <h4 class="ui black center aligned teal header">最新博客</h4>
        <p class="m-grey m-text-heavy">最新博客最新博客最新博客最新博客最新博客最新博客最新博客最新
          博客最新博客最新博客最新博客最新博客最新博客最新博客最新博客最新博客最新博客</p>
      </div>


    </div>
    <div class="ui inverted divider"></div>
    <div class="ui two column centered grid">
      <div class="column">
        <h4 class="ui center blue aligned header">蜀ICP备17031147号</h4>
        <p class="ui center orange aligned header m-text-thin">Copyright © TODAY & 2017 - 2021 All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>

<script src="https://vjs.zencdn.net/7.14.3/video.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="../static/js/prism.js" th:src="@{/js/prism.js}"></script>
<script type="text/javascript">
  $(function () {
    $("#comment-container").load("/getComments", {"blogId" : $("[name='blogId']").val()});
  });

  $(".dropdown").dropdown();
  $(".mobileDropdown").click(function (){
    $(".m-item").toggleClass("m-mobile-show")
  })
  //底部导航
  $('#newBlog-container').load("/footer/newBlog");

  //赞赏
  $("#likeBtn").click(function (){
    $("#likeBtn").removeClass("basic");
    $.ajax({
      url: "like",
      type : "get",
      data : {"id" : $("[name='id']").val()},
      success : function (data){
        var dataObj=eval("("+ data + ")");
        $(".ui.message.orange").removeClass("hidden");
        $(".ui.message.orange").html(dataObj.message);
        setInterval(function (){
          $(".ui.orange.message").addClass("hidden");
        }, 2000);
        $(".like.span").html(dataObj.appreciations);
      }
    })
  })

  $('.ui.form').form({
    fields: {
      title: {
        identifier: 'content',
        rules: [{
          type: 'empty',
          prompt: '请输入评论内容'
        }
        ]
      },
      content: {
        identifier: 'nickname',
        rules: [{
          type: 'empty',
          prompt: '请输入您的昵称'
        }]
      },
    }
  });

  $('#commentpost-btn').click(function () {
    var ifUser = $("[name='user']").val();
    if(ifUser != ""){
      var boo = $('.ui.form').form('validate form');
      if (boo) {
        postData();
      }
    }else{
      alert("登录才可发表评论");
    }

  });

  function replyComment(obj) {
    var commentId = $(obj).data('commentid');
    var commentNickname = $(obj).data('commentnickname');
    $("[name='content']").attr("placeholder", "@"+commentNickname).focus();
    $("[name='parentId']").val(commentId);
  }


  //提交数据
  function postData() {
    $("#comment-container").load(/*[[@{/comments}]]*/"/comments",{
      "parentId" : $("[name='parentId']").val(),
      "blogId" : $("[name='blogId']").val(),
      "nickname": $("[name='nickname']").val(),
      "content" : $("[name='content']").val()
    },function (responseTxt, statusTxt, xhr) {
        clearContent();
    });

    function clearContent() {
      $("[name='nickname']").val('');
      $("[name='content']").val('');
      $("[name='parentId']").val(-1);
      $("[name='content']").attr("placeholder", "请输入评论信息...");
    }
  }
</script>

</body>
</html>